/*Banner*/
.topBanner {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  background-color: #2e2e2e;
  color: white;
  padding-left: 0;
  padding-right: 0;
}

.topBannerInner {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shoppingBasket {
  cursor: pointer;
  color: white;
}