/*Universal*/
a:hover {
  text-decoration: none;
}

/*Banner*/
.topBanner {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  background-color: #2e2e2e;
  color: white;
  padding-left: 0;
  padding-right: 0;
}

.topBannerInner {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleItem {
  cursor: pointer;
  color: white;
}

.totalItems {
  background: #19d461;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  position: absolute;
  right: 38px;
  font-weight: 600;
}

/*Buttons*/
.customBtn {
  height: 30px;
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 7px;
  padding-right: 7px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.redBtn {
  background-color: #d11b1b;
  color: white;
}

.greenBtn {
  background-color: #19d461;
  color: white;
}

.shortBtn {
  max-width: 150px;
}

/*Filter*/
.filterValueSpace {
  height: 50px;
}

.filterValue {
  margin: 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filterItem {
  font-weight: 600;
  margin-right: 20px;
}

/*Item Grid*/
.item {
  margin-bottom: 20px;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 15%);
}

.clothingImage {
  width: 400px;
}

.itemGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}

.itemTitleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.itemTitle {
  font-size: 20px;
  font-weight: 600;
}

.itemCats {
  display: flex;
}

.category {
  margin-left: 5px;
  text-decoration: underline;
  cursor: pointer;
}

.price {
  display: flex;
  font-size: 16px;
  padding: 10px;
}

.quantity {
  margin-left: 5px;
}

.itemUnavailable {
  background-color: #9e9e9e;
  color: white;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Basket*/
.basket {
  margin-bottom: 20px;
}


.subHeading {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.itemInfo {
  display: flex;
  justify-content: space-between;
}

.clothingImageBasket {
  width: 100%;
}

.itemBlurb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blurbParagraph {
  margin-left: 10px;
}

.removeFromBasket {
  text-align: right;
  padding: 10px;
  color: #d11b1b;
  cursor: pointer;
}

.total {
  font-size: 20px;
}

.payDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.discount {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  font-size: 16px;
}